version: "2"
services:
  app:
    container_name: app
    restart: always
    command: nodemon -L -e js,ejs,css server.js
    build: .
    ports:
      - "3000:3000"
    volumes:
      - ./public:/usr/app/public
      - ./views:/usr/app/views
      - ./server.js:/usr/app/server.js
    links:
      - mongo
    depends_on:
      - mongo
  mongo:
    container_name: mongo
    image: mongo
    volumes:
      - ./data:/data
    ports:
      - "27017:27017"
