<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>feeling good is important</title>
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <style media="screen">
      * {background-color: dimGrey; color: ghostwhite;}
      ::placeholder {
        color: ghostwhite;
        opacity: 1;
      }
    </style>
    <script src="/assets/openpgp.min.js"></script>
    <script src="/app/pool.js"></script>
    <script src="/app/main.js"></script>
    <script src="/app/admin.js"></script>
  </head>
  <body>
    <!--
    <br>
    codes:
    <br><br>

    <% if (typeof codes !== "undefined") { %>
      <% for (var x in codes) {
        if (codes.hasOwnProperty(x)) { %>
          <%= x %>
          <br>
        <% }
      }
    } %>
    <br><br>
    <form action="/admin" method="post">
      <input type="text" name="code" placeholder="name">
      <input type="submit" value="addCode">
    </form>
    <br><br><br>
  -->
    <h3>frontEnd tests:</h3>
    <h4 id="test-title"></h4>
    <div id="test-results"></div>
    <script type="text/javascript">
      displayTests(pool.runTests(tests));
    </script>
    <h3>backEnd tests:</h3>
    <% if (typeof results === "string") { %>
      <h4> <%= results %> </h4>
    <% } else { %>
      <h4>failing tests:</h4>
      <ul>
      <% for(var i = 0; i < results.length; i++) { %>
          <li>
            <%= results[i][0] + ".  " + results[i][2]+" === "+results[i][1] %>
          </li>
      <% } %>
    <% } %>
      </ul>
    <br><br>
    <!--
    <button onclick="makePostIDs()">makePostIDs</button>
    <button onclick="resetTest()">reset test DB</button>
    <button type="button" name="button" onclick="testEmail()">test email</button>
    -->
    <button type="button" name="button" onclick="getResetCodes()">getResetCodes</button>
    <br><br>
    <input id="data-field" type="text" placeholder="data field">
    <button type="button" name="button" onclick="getUsers()">log users</button>
    <br>
    <input id="get-user-input" type="text" placeholder="username">
    <button type="button" name="button" onclick="getUser()">log user</button>
    <br>
    <input id="name-to-be-removed" type="text" placeholder="name">
    <button onclick="removeUser()">removeUser</button>
    <br><br><br>
    <input id="date-of-tags" type="text" placeholder="date">
    <button onclick="getTags()">getTags</button>
    <br>
    <input id="id-of-post-to-get" type="text" placeholder="post_id">
    <button onclick="getPost()">getPost</button>
    <button onclick="getPosts()">getPosts</button>
    <br>
    <input id="editor-input" type="textArea" placeholder="input">
    <input id="id-of-post-to-edit" type="text" placeholder="post_id">
    <button onclick="editPost()">editPost</button>
    <br>
    <input id="post-to-be-removed" type="text" placeholder="post_id">
    <button onclick="removePost()">removePost</button>

    <br><br>
    <input id="author-of-post" type="text" placeholder="username">
    <input id="date-of-post" type="text" placeholder="post date">
    <button onclick="createPostID()">createPostID</button>

    <br><br>
    faq text <br>
    <textarea id="faq-input" class="editor" autocomplete="off"></textarea>
    <br>
    <button onclick="publishFAQ();">publish</button>
    <button onclick="fetchFAQ();">fetch</button>
    <br><br>
    <button onclick="getUserUrls();">getUserUrls</button>
    <button onclick="getTagIndex();">getTagIndex</button>
    <button onclick="getStats();">getStats</button>
    <!--
    <textarea id="staffCheatText" class="editor" autocomplete="off"></textarea>
    <br>
    <button onclick="letStaffCheat()">staff cheat post</button>
    -->
  </body>
