<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>feeling good is important</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <script src="/admin.js"></script>
  </head>
  <body>
    <br>
    codes:
    <br><br>

    <% for (var x in codes) {
      if (codes.hasOwnProperty(x)) { %>
        <%= x %>
        <br>
      <% }
    } %>

    <br><br>
    <form action="/shavingmypiano" method="post">
      <input type="text" name="code" placeholder="name">
      <input type="submit" value="submit">
    </form>
    <br>
  </body>
