<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>feeling good is important</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <style media="screen">
      * {background-color: dimGrey; color: ghostwhite;}
    </style>
    <script src="openpgp.min.js"></script>
    <script src="/pool.js"></script>
    <script src="/main.js"></script>
    <script src="/admin.js"></script>
  </head>
  <body>
    <br>
    codes:
    <br><br>

    <% if (typeof codes !== "undefined") { %>
      <% for (var x in codes) {
        if (codes.hasOwnProperty(x)) { %>
          <%= x %>
          <br>
        <% }
      }
    } %>

    <br><br>
    <form action="/admin" method="post">
      <input type="text" name="code" placeholder="name">
      <input type="submit" value="addCode">
    </form>
    <br><br><br>
    <h3>frontEnd tests:</h3>
    <h4 id="test-title"></h4>
    <div id="test-results"></div>
    <script type="text/javascript">
      displayTests(pool.runTests(tests));
    </script>
    <h3>backEnd tests:</h3>
    <% if (typeof results === "string") { %>
      <h4> <%= results %> </h4>
    <% } else { %>
      <h4>failing tests:</h4>
      <ul>
      <% for(var i = 0; i < results.length; i++) { %>
          <li>
            <%= results[i][0] + ".  " + results[i][2]+" === "+results[i][1] %>
          </li>
      <% } %>
    <% } %>
      </ul>
    <button type="button" name="button" onclick="getUsers()">log users</button>
    <button type="button" name="button" onclick="resetTest()">reset test DB</button>
    <button type="button" name="button" onclick="allFollowStaff()">ALLfollowStaff</button>
    <br>
    <input id="name-to-be-removed" type="text" name="name" placeholder="name">
    <button type="button" name="button" onclick="removeUser()">removeUser</button>
    <br><br><br>
    <textarea id="staffCheatText" class="editor" autocomplete="off"></textarea>
    <br>
    <button onclick="letStaffCheat()">staff cheat post</button>

  </body>
