<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>s c h l a u g h</title>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Pro|Gurajada|Lora|Montserrat|Open+Sans|Rajdhani|Roboto|Roboto+Slab|Source+Code+Pro|Space+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/game.css">
    <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>
    <script src="/openpgp.min.js"></script>
    <script src="/jscolor.js"></script>
    <script src="/pool.js"></script>
    <script src="/game.js"></script>
    <script src="/schlaunquer.js"></script>
    <script src="/main.js"></script>
	  <link rel="icon" type="image/png" href="/favicon.png" id='dynamic-favicon'>
  </head>
  <body onkeydown="blockDefaultKeys(event)">
    <header>
      <a href="/" onclick="backToMain(event);"><h1>schlaugh</h1></a>

      <userInfo>
        <a href="javascript:void(0);" id="username" class="clicky removed special user-info-item"></a>
        <a href="javascript:void(0);" id="sign-in" class="clicky user-info-item" onclick="passPromptSubmit()">schlaugh in</a>
        <a href="javascript:void(0);" id="sign-out" class="clicky removed user-info-item" onclick="signOut()">schlaugh out</a>
      </userInfo>
    </header>

    <main id="main">
      <%- include("main") %>
    </main>

    <footer>
      <%
        var date = new Date(new Date().getTime() - 9*3600*1000);  //UTC offset by -9
        var hoursRemaining = "< " + (24 - date.getUTCHours()) + " hours to schlaupdate";
      %>
      <text id="schlaupdate-timer"><%= hoursRemaining %></text> <a href="javascript:void(0);" onclick="schlaupdateExplain()" class="special clicky">(?)</a>
      <br>
      <div id="footer-footer">
        <a href="/~" class="clicky special footer-text" onclick="modKeyCheck(event, function () {switchPanel('~about-panel'); simulatePageLoad('~', false);});">about</a>
        •
        <a href="/~faq" class="clicky special footer-text" onclick="modKeyCheck(event, function () {openFAQ();});">faq</a>
        •
        <a href="/~click" class="clicky special footer-text" onclick="modKeyCheck(event, function () {openClickerGame();});">click</a>
        <!-- •
        <a href="/~schlaunquer" class="clicky special footer-text" onclick="modKeyCheck(event, function () {openSchlaunquerPanel();});">schlaunquer</a> -->
      </div>
    </footer>

    <script type="text/javascript">

    (function router(input) {
      if (input.user && input.settings && input.settings.colors) {
        changeAllColors(input.settings.colors, true)
      } else {
        setAppearance();
      }
      if (input.postCode !== undefined) {
        var params = {
          author:input.author,
          tag:input.tag,
          date:input.date,
          page:input.page,
          postCode:input.postCode,
          post_id:input.post_id,         // take in post_id to distingiush between TFTF via a date or an ID
          post_url:input.post_url,       // again, to distingiush TFTF via custom URL
          existed:input.existed,
          notFound:input.notFound,
        }
        if (!input.date || input.postCode === "TFTF" || input.date <= pool.getCurDate()) {
          initSchlaugh(input.user, function () {fetchPosts(true, params);});
        } else {
          if (input.user) {
            initSchlaugh(input.user, function () {switchPanel("posts-panel")});
          } else {
            simulatePageLoad();
            switchPanel("login-panel");
          }
        }
      } else if (input.panel) {
        if (!input.user && (input.panel !== "about" && input.panel !== "faq" && input.panel !== "clicker" && input.panel !== "schlaunquer")) {
          simulatePageLoad();
          switchPanel("login-panel");
        } else if (input.panel === "about") {
          initSchlaugh(input.user, function () {switchPanel("~about-panel")});
        } else if (input.panel === "faq") {
          initSchlaugh(input.user, function () {openFAQ();});
        } else if (input.panel === "clicker") {
          initSchlaugh(input.user, function () {openClickerGame();});
        } else if (input.panel === "schlaunquer") {
          initSchlaugh(input.user, function () {openSchlaunquerPanel(input.game_id);});
        } else {
          initSchlaugh(input.user, function () {switchPanel(input.panel+"-panel")});
        }
      } else if (input.recovery) {
        if (input.code) {
          switchPanel("recovery-panel"); glo.resetCode = input.code;
        } else {
          switchPanel("bad-recovery-panel");
        }
      } else {  // NONE, just ye good ole schlaugh.com
        if (input.user) {
          initSchlaugh(input.user, function () {switchPanel("posts-panel")});
        } else {
          simulatePageLoad();
          switchPanel("login-panel");
        }
      }
    })(<%- JSON.stringify(initProps) %>)

  </script>

  </body>
</html>
