<div id="inOrUp">
  <button onclick="show(false)">schlaugh in</button>
  <h4>or</h4>
  <button onclick="show(true)">schlaugh up</button>
</div>

<div id="up" class="removed">
  <arrow onclick="back()">◀</arrow>
  <br><br>
  <form action="javascript:void(0);" onsubmit="return sign('up')">
    <input id="name-input" type="text" name="username" placeholder="name">
    <br>
    <input id="email-input" type="text" name="email" placeholder="email address">
    <br>
    <input id="pass-input" type="password" name="password" placeholder="password">
    <br>
    <input id="pass-input-two" type="password" name="password" placeholder="password">
    <br>
    <input id="secret-code" type="password" name="secretCode" placeholder="secret code">
    <br><br>
    <input class="button" type="submit" value="schlaugh up">
  </form>
</div>

<div id="in" class="removed">
  <arrow onclick="back()">◀</arrow>
  <br><br>
  <form action="javascript:void(0);" onsubmit="return sign('in')">
    <input id="in-name-input" type="text" name="username" placeholder="username">
    <br>
    <input id="in-pass-input" type="password" name="password" placeholder="password">
    <br><br>
    <input class="button" type="submit" value="schlaugh in">
  </form>
</div>

<h3 id="loginError"></h3>

<script src="openpgp.min.js"></script>
<script src="pool.js"></script>
<script src="login.js"></script>
