<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Daily Post</title>
    <link rel="stylesheet" href="login.css">
	  <!--<link rel="icon" type="image/png" href="img/icon.png">-->
  </head>

  <body>
    <h1>The Daily Post</h1>

    <div id="inOrUp">
      <button class="text-button" onclick="show(false)">sign in</button>
      <h4>or</h4>
      <button class="text-button" onclick="show(true)">sign up</button>
    </div>

    <h3 id="loginError"></h3>

    <div id="up" class="removed">
      <input id="name-input" type="text" placeholder="name">
      <br>
      <input id="email-input" type="text" placeholder="email address">
      <br>
      <input id="pass-input" type="password" placeholder="password">
      <br>
      <input id="pass-input-two" type="password" placeholder="password">
      <br>
      <button class="text-button" onclick="sign('up')">sign up</button>
    </div>

    <div id="in" class="removed">
      <input id="in-name-input" type="text" placeholder="name">
      <!--
      or
      <input id="email-input" type="text" placeholder="email address">
      -->
      <br>
      <input id="in-pass-input" type="password" placeholder="password">
      <br>
      <button class="text-button" onclick="sign('in')">sign in</button>
    </div>

    <script src="login.js"></script>
  </body>
</html>
