<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Daily Post</title>
    <!--<link rel="stylesheet" href="login.css">-->
	  <!--<link rel="icon" type="image/png" href="img/icon.png">-->
  </head>

  <body>
    <h1>The Daily Post</h1>

    <h3 id="loginError"></h3>
    <input id="nameInput" type="text" placeholder="name">
    <br>
    <input id="passInput" type="password" placeholder="password">
    <br>
    <br>
    <div class="text-button" onclick="sign('in')">sign in</div>
    <br>
    <div class="text-button" onclick="sign('up')">sign up</div>

    <script src="login.js"></script>
  </body>
