<nav id="nav" class="removed">
  <icon id="write-panel-button" class="clicky fas fa-pencil-alt" onclick="switchPanel('write-panel')"></icon>
  &nbsp;
  <icon id="posts-panel-button" class="clicky fas fa-book" onclick="switchPanel('posts-panel')"></icon>
  &nbsp;
  <icon id="inbox-panel-button" class="clicky fas fa-envelope" onclick="switchPanel('inbox-panel')"></icon>
  &nbsp;
  <icon id="settings-panel-button" class="clicky fas fa-cog" onclick="switchPanel('settings-panel')"></icon>
  <br><br>
</nav>

<div id="write-panel" class="removed">

  <div id="post-preview">
    <div id="pending-status">no pending post for tomorrow</div>
    <div id="pending-post" class="removed"></div>
    <button type="button" id='write-post-button' onclick="showWriter('post')">new post</button>
    <button id='delete-pending-post' class="removed" onclick="submitPost(true)">delete</button>
  </div>

  <div id="post-writer" class="removed">
    <%- include("editorButtons", {kind: "post"}) %>
    <textarea id="post-editor" class="editor" autocomplete="off"></textarea>
    <br><br>
    <label for="tag-input">tags:</label>
    <input id="tag-input" type="text" placeholder="milkshake,"><br>
    <label for="title-input">title:</label>
    <input id="title-input" type="text" placeholder="optional">
    <br><br>
    <button onclick="submitPost()">schlaubmit</button>
    <button onclick="cancelPost()">cancel</button>
  </div>
</div>

<div id="posts-panel" class="removed">
  <postNav>
    <text id="tag-display" class="removed"></text><br>
    <text id="date-display"></text><br>
    <div id="date-arrow-box" class="no-select">
      <icon class="clicky fas fa-caret-left" onclick="loadPosts(1)"></icon>
      <icon id="day-forward" class="clicky hidden fas fa-caret-right" onclick="loadPosts(-1)"></icon>
    </div>
  </postNav>
  <button id="jump-open" onclick="openDateJump()">jump</button>
  <button id="tag-menu-open" onclick="openTagMenu()">tags</button>
  <button id="clear-tag" onclick="loadPosts(0, false); openTagMenu()" class="removed">clear tag</button>
  <form id="date-jump" class="removed" action="javascript:void(0);">
    <input id="date-picker" type="text" placeholder="date">
    <script type="text/javascript">
      $('date-picker').value = pool.getCurDate();
    </script>
    <br>
    <button type="submit" onclick="dateJump()">go</button>
    <button onclick="openDateJump(true)">x</button>
  </form>
  <div id="tag-menu" class="removed">
    <div id="top-tag-bucket" class="removed">
      <h2>top tags</h2>
      <div id="top-tags"></div>
    </div>
    <form id="tag-search" action="javascript:void(0);">
      <input id="tag-picker" type="text" placeholder="milkshake">
      <br>
      <button type="submit" onclick="tagSearch()">search</button>
      <button onclick="openTagMenu(true)">x</button>
    </form>
  </div>


  <div id="posts">
    <text id="loading" class="removed">***loading the day***</text>
  </div>
</div>

<div id="inbox-panel" class="removed">
  <h2>meshages</h2>
  <div id="thread-title-area" class="removed">
    <icon id="back-arrow" class="removed clicky fas fa-caret-left" onclick="closeThread()"></icon>
    <br>
    <a id="thread-title" class="not-special"></a>
    <br>
    <text id='thread-status' class='removed'></text>
  </div>
  <button id="mark-unread" class="removed" onclick="markUnread()">mark unread</button>
  <button id="block-button" class="removed" onclick="block()">block</button>
  <div id="thread-list"></div>
  <br>
  <div id="message-preview" class="removed">
    <p id="pending-message-status"></p>
    <div id="pending-message" class="message removed"></div>
    <button type="button" id='write-message-button' onclick="showWriter('message')"></button>
    <button id='delete-message' onclick="submitMessage(true)">delete</button>
  </div>
  <div id="message-writer" class="removed">
    <%- include("editorButtons", {kind: "message"}) %>
    <textarea id="message-editor" autocomplete="off" class="editor"></textarea>
    <br>
    <button onclick="submitMessage()">schend</button>
    <button onclick="cancelMessage()">cancel</button>
  </div>
  <br>
  <div id="thread-box"></div>
</div>

<div id="settings-panel" class="removed">
  <h2>schlettings</h2>
  <div id="settings-box">
    <br><br>
    <img id="user-pic" class="removed user-pic" src="">
    <br>
    <label for="pic-url">picURL</label><br>
    <input id="pic-url" type="text" name="pic-url" value=""><br>
    <button onclick="submitPic()">schlaubmit</button>
    <button id="remove-pic" class="removed" onclick="submitPic(true)">remove</button>
    <br><br><br>
    <button onclick="followingListDisplay(true)">following list</button>
    <button onclick="displayBookmarks()">bookmarks</button>
    <br><br><br><hr><br>

    <h2>col<clicky onclick="switchPanel('o-panel')" class="special">o</clicky>rs</h2>
    <div id="color-settings-box">
      <div id="color-presets-box">
        <button class="preset-button" onclick="colorPreset(1)">classic</button><br>
        <button class="preset-button" onclick="colorPreset(2)">slate</button><br>
        <button class="preset-button" onclick="colorPreset(3)">evan's theme</button><br>
        <button class="preset-button" onclick="colorPreset(4)">steve</button><br>
        <button class="preset-button" onclick="colorPreset(5)">duckling</button>
      </div>
      <div id="color-inputs-box">
        post background: <input id="postBackground-color-button" class="color-button jscolor {onFineChange:'changeColor(this, `postBackground`)', padding:0,  borderWidth:0, backgroundColor:'transparent'}"><br>
        text: <input id="text-color-button" class="color-button jscolor {onFineChange:'changeColor(this, `text`)', padding:0,  borderWidth:0, backgroundColor:'transparent'}"><br>
        link text: <input id="linkText-color-button" class="color-button jscolor {onFineChange:'changeColor(this, `linkText`)', padding:0,  borderWidth:0, backgroundColor:'transparent'}"><br>
        background: <input id="background-color-button" class="color-button jscolor {onFineChange:'changeColor(this, `background`)', padding:0,  borderWidth:0, backgroundColor:'transparent'}"><br>
      </div>
    </div>
    <br>
    <text>post/message font: </text><select id="font-select" onclick="fontSelect();" name="fonts">
      <option>serif</option>
      <option>sans-serif</option>
      <option>monospace</option>
    </select>
    <br><br>
    <button id="save-appearance" type="button" class="hidden" onclick="saveAppearance()">save</button>

    <br><br><hr><br>
    <text>verify email<clicky onclick="verifyEmailExplain()" class="special">(?)</clicky></text><br>
    <form action="javascript:void(0);">
      <input id="email-verify-input" type="text" placeholder="email address"><br>
      <button type="submit" onclick="verifyEmail()">check</button>
    </form>
    <br><br><hr><br>
    <text>change password</text>
    <form action="javascript:void(0);">
      <input type="text" autocomplete="username" name="username" style="display:none;">
      <input id="password-change0" type="password" autocomplete="current-password" name="current-password" placeholder="current password"><br>
      <input id="password-change1" type="password" autocomplete="new-password" name="new-password" placeholder="new password"><br>
      <input id="password-change2" type="password" autocomplete="new-password" name="new-password" placeholder="new password"><br>
      <icon id="eye5" class="far fa-eye clicky eye" onclick="showPassword(true, 'eye5', ['password-change0','password-change1','password-change2'])"></icon>
      <icon id="eye5c" class="far fa-eye-slash clicky removed eye" onclick="showPassword(false, 'eye5', ['password-change0','password-change1','password-change2'])"></icon>
      <br>
      <button type="submit" class="change-pass-button-bump" onclick="changePassword()">change</button>
    </form>
    <br><br><br>
    <a class="clicky" onclick="signOut()">schlaugh out</a>
    <br><br><br>
  </div>
</div>

<div id="bookmarks-panel" class="removed">
  <h2>bookmarked posts</h2>
  <div id="bookmark-bucket">
  </div>
</div>

<div id="login-panel" class="removed">

  <slogan>have you schlaughed today?</slogan>

  <div id="inOrUp">
    <button onclick="chooseInOrUp(false)">schlaugh in</button>
    <h4>or</h4>
    <button onclick="chooseInOrUp(true)">schlaugh up</button>
  </div>

  <div id="up" class="removed">
    <icon class="no-select clicky arrow fas fa-caret-left" onclick="backToLogInMenu()"></icon>
    <br><br>
    <form action="javascript:void(0);">
      <input id="name-input" type="text" name="username" autocomplete="username" placeholder="name">
      <br>
      <input id="email-input" type="text" name="email" autocomplete="email" placeholder="email address">
      <br>
      <input id="pass-input" type="password" name="password" autocomplete="new-password" placeholder="password">
      <br>
      <input id="pass-input-two" type="password" name="password" autocomplete="new-password" placeholder="password">
      <!--
      <br>
      <input id="secret-code" type="password" name="secretCode" placeholder="secret code">
      -->
      <br>
      <icon id="eye2" class="far fa-eye clicky eye" onclick="showPassword(true, 'eye2', ['pass-input', 'pass-input-two'])"></icon>
      <icon id="eye2c" class="far fa-eye-slash clicky removed eye" onclick="showPassword(false, 'eye2', ['pass-input', 'pass-input-two'])"></icon>
      <br>
      <button type="submit" class="change-pass-button-bump" onclick="logInPageSubmit('up')">schlaugh up</button>
    </form>
  </div>

  <div id="in" class="removed">
    <icon class="no-select clicky arrow fas fa-caret-left" onclick="backToLogInMenu()"></icon>
    <br><br>
    <form action="javascript:void(0);">
      <input id="in-name-input" type="text" name="username" autocomplete="username" placeholder="username">
      <br>
      <input id="in-pass-input" type="password" name="password" autocomplete=“current-password” placeholder="password">
      <br>
      <icon id="eye1" class="far fa-eye clicky eye" onclick="showPassword(true, 'eye1', ['in-pass-input'])"></icon>
      <icon id="eye1c" class="far fa-eye-slash clicky removed eye" onclick="showPassword(false, 'eye1', ['in-pass-input'])"></icon>
      <br>
      <button type="submit" class="change-pass-button-bump" onclick="logInPageSubmit('in')">schlaugh in</button>
      <br><br>
      <clicky id="lost-pass" onclick="switchPanel('lost-panel')">lost password?</clicky>
    </form>
  </div>
  <br><br><br>
  <h2 class="clicky special" onclick="switchPanel('~about-panel');simulatePageLoad('~');">schlaugh what?<h2>

</div>

<div id="~about-panel" class="removed">
  <div id="about-text"><br><br>
    schlaugh is a quiet place for reading and writing
    <br><br>
    schlaugh only updates once a day<br>
    so you only check it once a day
    <br><br>
    there is no liking, there is no commenting, there is no noise<br>
    there is only reading and writing
    <br><br>
    you may make one post per day<br>
    there is no rush<br><br>
    <3
  </div>
  <br><br>
  <icon class="no-select clicky arrow fas fa-caret-up" onclick="aboutPanelBack()"></icon>
</div>

<div id="o-panel" class="removed">
  <img id="o-pic" src="https://i.imgur.com/mPQvp6R.png" alt="ox">
</div>

<div id="edit-panel" class="removed">
  <a id="edit-panel-title" class="author-page-title"></a>

  <div id="old-post-preview">
    <div id="old-post-status"></div>
    <div id="pending-post-edit" class="removed"></div>
    <div id="pending-header-preview" class="author-header removed">
      <div id="pending-left-preview" class="author-header-left">
        <button id="preview-follow-button" onclick="alert(`Y'ALL<br>DONE<br>DID<br>GET<br>GOT<br>BY<br>A<br>FAKE BUTTON`,'doh')">follow</button>
      </div>
      <div id="pending-right-preview" class="author-header-right"></div>
    </div>
    <button type="button" id='edit-post-button' onclick="showWriter('old-post')">new edit</button>
    <button id='delete-pending-old-post'>delete</button>
  </div>

  <div id="old-post-writer" class="removed">
    <div id="old-post-editor-title"></div>
    <%- include("editorButtons", {kind: "old-post"}) %>
    <textarea id="old-post-editor" class="editor" autocomplete="off"></textarea>
    <br>
    <div id="old-tag-box">
      <label for="old-tag-input">tags:</label>
      <input id="old-tag-input" type="text" placeholder="milkshake,">
      <br>
      <label for="old-title-input">title:</label>
      <input id="old-title-input" type="text" placeholder="optional">
      <br><br>
    </div>
    <button id='submit-editing-old-post'>schlaubmit</button>
    <button id='cancel-edit-button'>cancel</button>
  </div>
</div>

<div id="lost-panel" class="removed">
  <h2>PASSWORD RESET EMAIL REQUEST</h2><br>
  <text>please don't do this unless you absolutely super have to. your private messages are locked with your password, and changing your password in this manner will mean that those messages will be permanently locked in encryption and unrecoverable forever<br><br>anyway, enter your username and the email associated with your account. It has to be the same email that you previously entered. And we can't tell you whether it's correct or not. If it's right, you'll get an email, if not, then no email will be sent. If you didn't enter an email for your account, or don't know what you entered, then you're out of luck. But try several addresses, if you're not sure which one you used.<br><br>the recovery link we send you expires one hour from sending<br>for additional assistance: schlaugh@protonmail.com</text>
  <br><br>
  <form action="javascript:void(0);">
    <text>username</text><br>
    <input type="text" id="username-lost"><br>
    <text>email</text><br>
    <input type="text" id="email-lost"><br>
    <button id="recovery-submit-button" type="submit" onclick="submitRecoveryRequest()">submit</button>
    <button id="recovery-reset-button" class="removed" onclick="resetRecoveryRequest()">reset</button>
  </form><br>
  <text id="lost-password-submission" class="hidden">if that username/email combination is valid, then an email has been sent<br>(you may need to check your spam folder)</text>
</div>

<div id="recovery-panel" class="removed">
  <h2>PASSWORD RESET</h2><br><br>
  <form action="javascript:void(0);" id="pass-reset-form">
    <div id="recovery-username-box">
      <text>username<clicky onclick="alert('this must match the account for which you had an email sent','got it')" class="special">(?)</clicky></text><br>
      <input id="username-recovery" type="text" name="username" autocomplete="username"><br>
    </div>
    <div id="recovery-pass-box" class="removed">
      <text>new password(twice)</text><br>
      <input id="password-recovery0" type="password" autocomplete="new-password" name="new-password" style="display:none;">
      <input id="password-recovery1" type="password" autocomplete="new-password" name="new-password"><br>
      <input id="password-recovery2" type="password" autocomplete="new-password" name="new-password"><br>
      <icon id="eye3" class="far fa-eye clicky eye" onclick="showPassword(true, 'eye3', ['password-recovery1', 'password-recovery2'])"></icon>
      <icon id="eye3c" class="far fa-eye-slash clicky removed eye" onclick="showPassword(false, 'eye3', ['password-recovery1', 'password-recovery2'])"></icon>
    </div>
    <button type="submit" class="change-pass-button-bump" onclick="submitRecoveryName()">submit</button>
  </form>
  <div id="pass-reset-success" class="removed">
    <text>your password has been successfully reset<br><br><clicky onclick="switchPanel('login-panel');simulatePageLoad();" class="special">please log in here</clicky></text>
    <br><br>
  </div>
  <br><br>
</div>

<div id="bad-recovery-panel" class="removed">
  <h2>invalid code</h2><br>
  perhaps it has expired?<br><br>
  <clicky onclick="switchPanel('lost-panel');simulatePageLoad();" class="special">try again?</clicky><br><br>
</div>

<div id="pop-up-backing" class="hidden"></div>
<div id="prompt" class="pop-up hidden">
  <form action="javascript:void(0);">
    <text id="prompt-label"></text>
    <br><br>
    <input id="prompt-input">
    <br><br>
    <button id="prompt-submit" type="submit">submit</button>
  </form>
  <br>
  <button id="prompt-close">x</button>
</div>
<div id="password-prompt" class="pop-up hidden">
  <form action="javascript:void(0);">
    <text id="password-prompt-label"></text>
    <br><br>
    <input id="prompt-username" type="text" name="username" autocomplete="username" placeholder="username">
    <br>
    <input id="prompt-password" type="password" name="password" autocomplete=“current-password” placeholder="password">
    <br>
    <icon id="eye4" class="far fa-eye clicky eye" onclick="showPassword(true, 'eye4', ['prompt-password'])"></icon>
    <icon id="eye4c" class="far fa-eye-slash clicky removed eye" onclick="showPassword(false, 'eye4', ['prompt-password'])"></icon>
    <br>
    <button id="password-prompt-submit" type="submit">submit</button>
  </form>
  <div id="or-schlaugh-up" class="removed">
    <br>
    <a href="/" class="clicky" onclick="orSchlaughUp(event)">or schlaugh up</a>
  </div>
  <br>
  <button id="password-prompt-close">x</button>
</div>
<div id="alert" class="pop-up hidden">
  <form action="javascript:void(0);">
    <text id="alert-text"></text>
    <br><br>
    <button id="alert-submit" type="submit">'kay</button>
  </form>
</div>
<div id="confirm" class="pop-up hidden">
  <form action="javascript:void(0);">
    <text id="confirm-text"></text>
    <br><br>
    <button id="confirm-yes">yeah</button>
    <button id="confirm-no" type="submit">nope</button>
  </form>
</div>

<div id="following-list" class="pop-up hidden">
  <h2>following:</h2>
  <div id="following-bucket">
  </div>
  <br>
  <button onclick="followingListDisplay(false)">x</button>
</div>

<div id="loading-box" class="hidden no-select">
  <div id="loading-icon" class="no-select">❋</div>
</div>
