
<div id="write-panel" class="removed">
  <nav>
    <text class="highlight">write</text>
    <clicky onclick="switchPanel('posts-panel')">read</clicky>
    <!--
    <clicky onclick="switchPanel('inbox-panel')">messages</clicky>
    -->
    <br><br>
  </nav>

  <div id="post-preview">
    <% if (pending) { %>
      <text id="pending-status">your pending post for tomorrow:</text>
      <br>
      <div id="pending-post" class="post">
        <%- pending %>
      </div>
      <button type="button" id='write-post-button' onclick="showWriter('post')" >edit post</button>
      <% } else { %>
        <text id="pending-status">no pending post</text>
        <br>
        <div id="pending-post" class="post removed"></div>
        <button type="button" id='write-post-button' onclick="showWriter('post')" >new post</button>
    <% } %>
  </div>

  <div id="post-writer" class="removed">
    <postNav><clicky onclick="hideWriter('post')">◀</clicky></postNav>
    <br>
    <div id="editor-options">
      <button class="" onclick="styleText('b')"><b>B</b></button>
      <button class="" onclick="styleText('i')"><i>I</i></button>
      <button class="" onclick="styleText('u')"><u>U</u></button>
      <button class="" onclick="styleText('s')"><s>S</s></button>
      <button class="" onclick="hyperlink()">link</button>
      <button class="" onclick="image()">img</button>
      <button class="" onclick="linebreak()">&lt;br&gt;</button>
    </div>
    <textarea id="postEditor" class="editor"><% if (pending) { %><%- pending %><% } %></textarea>
      <!-- that^ has to be all on one line like that...*grumbles* -->
    <br>
    <button onclick="submitPost()" >submit</button>
    <% if (pending) { %>
      <button id='delete-pending-post' onclick="submitPost(true)" >delete</button>
    <% } else { %>
      <button id='delete-pending-post' class="removed" onclick="submitPost(true)" >delete</button>
    <% } %>
  </div>
</div>

<div id="posts-panel">
  <nav>
    <clicky onclick="switchPanel('write-panel')">write</clicky>
    <text class="highlight">read</text>
    <!--
    <clicky onclick="switchPanel('inbox-panel')">messages</clicky>
    -->
    <br><br>
  </nav>

  <postNav>
    <text id="date-display"></text>
    <br>
    <clicky onclick="changeDay(1)">◀</clicky>
    <clicky id="day-forward" class="hidden" onclick="changeDay(-1)">▶</clicky>
  </postNav>
  <div id="posts">
    <text id="loading" class="removed">***loading the day***</text>
  </div>
</div>

<!--
<div id="inbox-panel" class="removed">
  <nav>
    <clicky onclick="switchPanel('write-panel')">write</clicky>
    <clicky onclick="switchPanel('posts-panel')">posts</clicky>
    <text class="highlight">messages</text>
  </nav>
  <br>
  <br>
  <postNav>
    <clicky id="back-arrow" class="removed" onclick="closeThread()">◀</clicky>
    <br>
    <text id="thread-title">threads</text>
  </postNav>
  <div id="thread-list"></div>
  <br>
  <div id="thread-box"></div>
  <br>
  <div id="message-preview" class="removed">
    <p id="pending-message-status"></p>
    <div id="pending-message" class="message removed"></div>
    <button type="button" id='write-message-button' onclick="showWriter('message')" ></button>
  </div>
  <div id="message-writer" class="removed">
    <textarea id="messageEditor" ></textarea>
    <script>CKEDITOR.replace( 'messageEditor' );</script>
    <button type="button" onclick="submitMessage()">submit</button>
    <button type="button" id='delete-message' onclick="submitMessage(true)">delete</button>
  </div>
</div>
-->

<script src="pool.js"></script>
<script src="main.js"></script>
