<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Daily Post</title>
    <link rel="stylesheet" href="main.css">
    <script src="ckeditor/ckeditor.js"></script>
	  <!--<link rel="icon" type="image/png" href="img/icon.png">-->
  </head>
  <body>
    <%
      var monthNames = ["January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"];
      var dayNames = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];

      var date = new Date(new Date().getTime() - 9*3600*1000);  //UTC offset by -9

      var today = dayNames[date.getUTCDay()]+", "+monthNames[date.getUTCMonth()]+" "+date.getUTCDate()+", "+date.getUTCFullYear();
      var hoursRemaining = "< " + (24 - date.getUTCHours()) + " hours until next edition";
    %>
    <h1>The Daily Post</h1>

    <p id="log-button" onclick="showPanel('user-info-panel')">log out</p>

    <button id="inbox-button" onclick="showPanel('inbox-panel')">inbox</button>

    <div id="postWriter">
      <% if (pending) { %>
        <p id="pending-status">pending post for tomorrow:</p>
        <div id="pending-post" class="post">
          <%- pending %>
        </div>
        <button type="button" id='delete-pending-post' onclick="submitPost(true)" >delete</button>
        <% } else { %>
          <p id="pending-status">no pending post</p>
          <div id="pending-post" class="post"></div>
          <button type="button" id='delete-pending-post' class="removed" onclick="submitPost(true)" >delete</button>
      <% } %>

      <textarea id="postEditor" >
        <% if (pending) { %>
          <%- pending %>
        <% } %>
      </textarea>
      <script>CKEDITOR.replace( 'postEditor' );</script>
      <button type="button" onclick="submitPost()" >post</button>
    </div>

    <h3>posts for:<br>
      <div id="date-display">derp</div>
      <arrow class="" onclick="changeDay(1)">◀</arrow>
      <arrow id="day-forward" class="hidden" onclick="changeDay(-1)">▶</arrow>
    </h3>
    <div id="posts">
      <div id="loading" class="post removed">
        <p>***loading the day***</p>
      </div>
    </div>

    <h4><%= hoursRemaining %></h4>

    <div id="inbox-panel" class="removed">
      <h2>inbox</h2>
      <br>
      <div id="mutuals-list"></div>
      <br>

      <div id="messageWriter" class="removed">
        <textarea id="messageEditor" ></textarea>
        <script>CKEDITOR.replace( 'messageEditor' );</script>
        <button type="button" onclick="submitMessage()">post</button>
        <button type="button" id='delete-message' onclick="submitMessage(true)">delete</button>
      </div>
      <div id="thread-box"></div>
      <br>
      <div class="text-button return-button" onclick="closePanel()">return</div>
    </div>

    <div id="panel-backing" class="removed"></div>

    <div id="user-info-panel" class="removed">
      <p>signed in as:</p>
      <br>
      <h3 id="userName"><%= username %></h3>
      <br>
      <br>
      <div class="text-button" onclick="signOut()">sign out</div>
      <br>
      <br>
      <div class="text-button return-button" onclick="closePanel()">return</div>
    </div>

    <script src="main.js"></script>
  </body>
</html>
