<h2><%= username %></h2>

<div id="posts">
  <% for(var i=0; i < posts.length; i++) { %>
    <div class="post">
      <%- posts[i].body %>
      <p><%= posts[i].date %></p>
    </div>
  <% } %>
  <% if (posts.length === 0) { %>
    <div class="post">
      No Posts!
    </div>
  <% } %>
</div>

<!--<script src="user.js"></script>-->
