body {
  color: #D8D8D8;
  background-color: #324144;
  padding: 1.5vmin;
  margin: 0;
  text-align: center;
}

#site-title {
  font-size: 1.8em;
  position: absolute;
  margin: 1.5vmin;
  top: 0;
  left: 0;
}

arrow {
  font-size: 1.8em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#up, #in, #inOrUp, #loginError {
  position: absolute;
  top: 40vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}
#loginError{top: 75vh;}

.removed {display: none;}
