* {box-sizing: border-box;}

body {
  padding: 1.5vmin;
  margin: 0;
  text-align: center;
}

p {margin: 0}

h1 {
  float: left;
  font-weight: normal;
  display: block;
  font-size: 1.8em;
  margin: 0;
}

nav {
  font-size: 2.4em
}

nav.user-info {
  float: right;
  text-align: right;
  font-size: 1.1em;
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
}

header {
  width: 100%;
  height: 50px;
}

main {
  overflow: auto;
}

footer {
  margin-top: 5vh;
}

postNav {
  font-size: 2em;
}

clicky, .clicky {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#post-writer{width: 75%; margin: auto;}
#message-writer{width: 65%; margin: auto;}

#thread-box {
  width: 80%;
  margin: auto;
}

.post, .message {
  width: 75%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 15px;
  text-align: justify;
}
.message {width: 85%;}

#pending-message {width: 65%}

@media screen and (max-width: 500px) , screen and (max-height: 500px) {
  .post {width: 98%;}
  #thread-box {width: 100%;}
  #pending-message {width: 85%}
  #post-writer{width: 95%;}
  #message-writer{width: 85%;}
}

.outgoing {margin-right: 0}
.incoming {margin-left: 0}

.meta-text {
  text-align: right;
  text-decoration: underline;
  margin-bottom: 10px;
}

.highlight {
  font-size: 1.4em;
  font-weight: bold;
}

a, a.visited {
  color: #BFA5FF;
  text-decoration: none;
}

body, h1 {
  color: #D8D8D8;
  background-color: #324144;
}
.post, .message {
  color: #D8D8D8;
  background-color: #32363F;
}


arrow {
  font-size: 1.8em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#inOrUp {
  margin-top: 12vh;
}

#in {
  margin-top: 8vh;
}

#up {
  margin-top: 5vh;
}

.hidden {visibility: hidden;}
.removed {display: none;}
