* {
  box-sizing: border-box;
  overflow-anchor: none;
  font-family: 'Rajdhani', 'Consolas', Courier, monospace;
}

*:focus {outline:0;}

.reader-font {font-family: "Roboto", "Helvetica", sans-serif;;}

body {
  padding: 10px 20px;
  margin: 0;
  text-align: center;
  overflow-y:scroll;
}
@media screen and (max-width: 600px) {
  body {padding: 10px 5px;}
}
@media screen and (max-width: 500px) {
  body {padding: 10px 5px;}
}

p {margin: 0}

h1 {
  float: left;
  font-weight: normal;
  display: block;
  font-size: 1.8em;
  margin: 0;
}

h2 {
  margin-top: 15px;
  margin-bottom: 10px;
}

.author-panel-pic {
  max-width: 100px;
  max-height: 100px;
  border-radius: 5px;
}

.author-page-title {
  font-weight: bold;
  font-size: 3em;
  margin-top: 0;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 98vw;
}

.author-page-title-0 {font-size: 4em;}
.author-page-title-1 {font-size: 3.5em;}
.author-page-title-2 {font-size: 3em;}
.author-page-title-3 {font-size: 1.8em;}
.author-page-title-4 {font-size: 1.36em;}
.author-page-title-5 {font-size: 1.08em;}
.author-page-title-6 {font-size: 0.83em;}
@media screen and (max-width: 600px) {
  .author-page-title-2 {font-size: 2.7em;}
}
@media screen and (max-width: 500px) {
  .author-page-title-2 {font-size: 2.4em;}
}
@media screen and (max-width: 400px) {
  .author-page-title-2 {font-size: 2.2em;}
  .author-page-title-3 {font-size: 1.45em;}
  .author-page-title-4 {font-size: 1.08em;}
  .author-page-title-5 {font-size: .85em;}
  .author-page-title-6 {font-size: .65em;}
}

.author-button {
  width: 100px;
  margin: auto;
}

.bot-arrow {
  font-size: 1.7em;
  margin: 0 10px;
}

.page-number-right, .page-number-right-double-digit, .page-number-right-triple-digit {
  display: inline-block;
  padding: 0px 8px 0px 0px;
  width: 21px;
}

.page-number-left, .page-number-left-double-digit, .page-number-left-triple-digit {
  width: 27px;
  font-size: 1em;
  border-width: 1px;
  padding: 0px 4px;
  text-align: center;
}
.page-number-left-double-digit, .page-number-right-double-digit {
  width: 43px;
}
.page-number-left-triple-digit, .page-number-right-triple-digit {
  width: 60px;
}

panelButtons {
  display: inline-block;
  border: 3px solid;
  border-radius: 6px;
  position: relative;
  white-space: nowrap;
  margin-bottom: 4px;
}
.panel-button {
  border-right: 0.3px solid;
  border-left: 0.3px solid;
  font-size: 2.8em;
  width: 72px;
  display: inline-block;
  padding: 10px 0 3.5px;
}
.panel-button-selected {border: none;}

feedOptions {
  display: inline-block;
  border: 2.5px solid;
  border-radius: 5px;
}
.feed-button {
  display: inline-block;
  font-size: 1.1em;
  border-right: 0.3px solid;
  border-left: 0.3px solid;
  padding: 2px 6px 1px;
  font-family: "Rajdhani";
}
@media screen and (max-width: 500px) , screen and (max-height: 500px) {
  .feed-button {
    padding: 4px 8px 4px;
  }
}
#write-panel-button, #following-list-open {border-left: none}
#settings-panel-button, #bookmarks-open {border-right: none}

@media screen and (max-width: 500px) {
  .post-header-feed {flex-direction: column; }
}

userInfo {
  text-align: right;
  font-size: 1.1em;
  margin: 0;
  max-width: 60%;
}

.user-info-item {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1;
}

header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

main {
  overflow: auto;
}

footer {
  margin-top: 5vh;
}

.footer-text {
  display: inline-block;
  margin-top: 6px;
  font-size: .85em;
}

pageAndDateNav, .page-title-404 {
  font-size: 2em;
  margin-top: 15px;
  display: block;
}

#date-arrow-box {
  font-size: 1.5em;
}

#date-picker {
  font-size: 1.2em;
  width: 105px;
  text-align: center;
}

clicky, .clicky, spoil {
  cursor: pointer;
}

.spoil {
  border-right-style: solid;
  border-left-style: solid;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#pending-status { margin-top: 15px; margin-bottom: 8px;}

#post-writer, #old-post-writer, #message-writer {width: 75%; margin: auto;}

.editor {
  height: 50vh;
  width: 100%;
  resize: vertical;
  font-size: inherit;
}
@media screen and (max-width: 600px) {
  .editor {
    width: 94%;
  }
}


.editor-options {
  text-align: right;
}

.editor-button  {
  margin: 2px;
}
.editor-italic {
  position: relative;
  left: -2px;
}
.editor-more-less {
  position: relative;
  top: 0.7px;
}

.editor-meta {
  display: inline-block;
  width: 345px;
  text-align: right;
  transform: translate(-24px, 0px);
}
@media screen and (max-width: 500px) {
  .editor-meta {
    transform: translate(-12px, 0px);
  }
}
@media screen and (max-width: 415px) {
  .editor-meta {
    transform: none;
  }
}
@media screen and (max-width: 370px) {
  .editor-meta {
    text-align: left;
    width: 290px;
  }
}


#thread-box {
  width: 80%;
  margin: auto;
  max-width: 900px;
}

.thread-name {font-size: 1.8em}
#thread-status {font-size: .5em;}

.post, .message, .content-box {
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, .1);
  width: 75%;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 24px;
  border-radius: 6px;
  padding: 18px;
  text-align: left;
  position: relative;
}
.message {width: 85%; max-width: 800px;}
#settings-container, #thread-list {text-align: center;}

.setting-wrapper {
  display: block;
  margin-bottom: 5px;
}
@media screen and (max-width: 510px) {
  .setting-wrapper {
    margin-bottom: 15px;
  }
}

.post, .message, #tag-display, .top-tag, .author-header-right, .author-on-post, #thread-list {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#post-bucket {
  margin-top: 24px;
}

.post-wipe {
  transition: height .2s ease-in, padding .2s ease-in, margin .2s ease-in, box-shadow .2s ease-in, top .2s ease-in, left .2s ease-in, opacity .2s ease-in;
}

.tag-feed-option-button {
  font-size: .9em;
}

.de-tag-button {
  font-size: .75em;
}

#include-tagged-posts-toggle, #auto-save-tags-on-use-toggle {
  font-size: .9em;
}

#tags-search-title {margin-bottom: 0px; margin-top: 16px;}
#saved-tags-title {margin-bottom: 2px; margin-top: 16px;}
#date-jump-title {margin-bottom: 0px; margin-top: 16px;}

#tag-search {margin-top: 16px;}

#saved-tags-list {margin-bottom: 12px;}

#clicker-panel {
  font-size: 1.55em;
}
.clicker {
  display: block;
  margin: auto;
  margin-top: 25px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

a, a.visited {
  text-decoration: none;
  font-family: inherit;
}

.ex-link {
  text-decoration: underline;
}

.special {
  color: #0004FF;
}

#pending-message {width: 65%}

.author-size-0 {font-size: 2em;}
.author-size-1 {font-size: 1.7em;}
.author-size-2 {font-size: 1.4em;}
.author-size-3 {font-size: 1.2em;}
.author-size-4 {font-size: 1.1em;}
.author-size-5 {font-size: 1em;}
.author-size-6 {font-size: 1em;}
@media screen and (max-width: 600px) {
  .author-size-6 {font-size: .8em;}
}
@media screen and (max-width: 500px) {
  .author-size-5 {font-size: .9em;}
  .author-size-6 {font-size: .7em;}
}
@media screen and (max-width: 400px) {
  .author-size-5 {font-size: .8em;}
  .author-size-6 {font-size: .6em;}
}

.author-pic {
  max-width: 50px;
  max-height: 100px;
  border-radius: 4px;
  display: inline;
}

.date-stamp-box {
  text-align: right;
  margin-bottom: 10px;
  display: block;
}

.collapse-button-top, .collapse-button-bottom {
  position: absolute;
  left: 4px;
  top: 2px;
  font-size: 16px;
  opacity: .7;
}
.collapse-button-bottom {
  top: auto;
  bottom: 0.5px;
}
.expand-button {
  margin: 2px 3px 0px;
  font-size: .94em;
}

.post-header {
  margin-top: 5px;
  margin-bottom: 10px;
}

.post-header-feed {
  text-align: right;
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.post-title {
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  padding-right: 10px;
}

.tag-section {
  font-style: italic;
}

.post-footer {
  height: 20px;
  margin-top: 10px;
}
.post-footer-right {float: right;}
.post-footer-left {float: left;}
.date-stamp {
  font-size: 1.2em;
  text-decoration: underline;
}

.selective-quote-button {
  padding: 5px;
  z-index: 1;
  position: absolute;
  right: -26px;
  transition: right .2s;
}
@media screen and (max-width: 500px) , screen and (max-height: 500px) {
  .selective-quote-button {
    right: -31px;
  }
}
.show-selective-quote-button {
  right: 2px;
}

footerButton {
  margin-left: 7px;
  margin-right: 3px;
  cursor: pointer;
}

#o-pic {border-radius: 3%; max-width: 500px;}

.author-header {
  width: 75%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.author-header-right {padding: 10px; text-align: left;}
.author-header-left {
  padding: 10px;
  max-width: 400px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

#pending-header-preview {margin-top: 20px; margin-bottom: 20px;}

@media screen and (max-width: 500px) , screen and (max-height: 500px) {
  .post, .author-header, .content-box {width: 100%;}
  #thread-box {width: 100%;}
  #pending-message {width: 85%}
  #post-writer, #old-post-writer, #message-writer{width: 100%;}
  #o-pic {max-width: 95%;}
}

@media screen and (max-width: 600px) {
  .author-header {flex-direction: column;}
  .author-header-left {align-self: center;}
}
@media screen and (max-width: 550px) {
  .post-header-feed {flex-direction: column; }
}

.outbound {margin-right: 0}
.inbound {margin-left: 0}

.user-pic {
  max-width: 50px;
  max-height: 100px;
  border-radius: 5px;
}

.color-button {
  width: 60px;
  text-align: center;
  cursor: pointer;
  height: 22px;
}

button, .button {
  cursor: pointer;
  background-color: #B2C4D6;
  border-color: #383F45;
  color: #383F45;
  border-style: solid;
  border-width: thin;
  border-radius: 3px;
  margin-bottom: 2px;
  font-family: "Space Mono";
  padding-top: 0px;
  padding-bottom: 2.5px;
}
@media screen and (max-width: 500px) , screen and (max-height: 500px) {
  button, .button, input, color-button, select, footerButton {font-size: 1.2em;}
  .author-button {width: 140px;}
  .collapse-button-top, .collapse-button-bottom {font-size: 20px;}
  .color-button {width: 75px; height: 28px;}
}

input {
  border-radius: 3px;
  border-style: inset;
  outline-style: none;
  margin-bottom: 2px;
  padding: 3px 5px 3px 5px;
  width: 290px;
}

/*hack to make Chrome not force formatting when it autofills*/
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px dimGrey inset;
  -webkit-text-fill-color: #FFFFFF;
}

.not-schlaugh {
  font-size: 1.8em;
}

.change-pass-button-bump {
  position: relative;
  bottom: 19px;
}

.eye {
  position: relative;
  left: 122px;
  bottom: 25px;
}
.eye-on-main {
  position: relative;
  left: 110px;
  bottom: 25px;
}
.optional-email-splain{
  position: relative;
  left: 133px;
  bottom: 83px;
  font-size: .94em;
}
@media screen and (max-width: 500px) , screen and (max-height: 500px) {
  .eye {font-size: 1.4em; bottom: 31px; left: 118px;}
  .eye-on-main {font-size: 1.4em; bottom: 31px; left: 100px;}
  .optional-email-splain{font-size: 1.4em; bottom: 103px;}
}

#appearance-settings-box {
  display: flex;
  justify-content: space-evenly;
  max-width: 600px;
  margin: auto;
  flex-wrap: wrap;
}
.settings-box {
  text-align: right;
  margin-bottom: 10px;
  margin-top: 10px;
}

body, h1, input, select {
  color: #383F45;
  background-color: #AFDCFA;
}
.post, .message, .editor, .content-box, .pop-up, .post-background {
  color: #383F45;
  background-color: #B2C4D6;
}

.arrow, #thread-title-area {
  font-size: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
}

slogan {
  margin-top: 9vh;
  display: block;
  font-style: italic;
  font-size: 2.8em;
}

#inOrUp {
  margin-top: 8vh;
}

#in {
  margin-top: 8vh;
}

#up {
  margin-top: 5vh;
}

#lost-panel {
  text-align: center;
  max-width: 830px;
  margin: auto;
}
#lost-pass {font-size: .75em}

#about-text {
  text-align: center;
  font-size: 1.45em;
  font-family: "LORA", "GEORGIA", serif;
}

.following-listing {
  font-size: 25px;
  height: 35px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.little-pic {
  margin-right: 5px;
  max-width: 30px;
  max-height: 30px;
  display: inline;
  border-radius: 3px;
}

#display-button-box {
  z-index: 8;
  font-size: 1.3em;
  position: fixed;
  bottom: 10px;
  right: 20px;
}
@media screen and (max-width: 600px) {
  #display-button-box {right: 10px; bottom: 5px; font-size: 1.15em;}
}
@media screen and (max-width: 500px) {
  #display-button-box {right: 5px; bottom: 5px; font-size: 1em;}
}

.pop-up {
  padding: 15px;
  position: fixed;
  left: 50%;
  top: 45%;
  transform: translate(-50%,-50%);
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px;
  z-index: 11;
  min-width: 300px;
}
@media screen and (max-width: 600px) {
  .pop-up {
    width: 80%;
    max-width: 95vw;
    max-height: 90vh;
    overflow-y: scroll;
  }
}

#how-long-input {
  width: 5em;
  height: 2.5em;
  margin-bottom: 0.7em;
  margin-top: 0.5em;
}

.options-pop-up-title {
  margin: 0;
  margin-bottom: 10px;
}
#color-options-pop-up, #text-options-pop-up {
  padding: 10px;
  position: fixed;
  display: block;
  right: -2.5px;
  bottom: -2.5px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px;
  z-index: 9;
}

#sign-to-save2, #sign-to-save3 {font-size: .85em;}

.editor-pop-up-inner-box {text-align: right;}

#prompt-input {width: 200px;}
#pop-up-backing {
  background-color: rgba(0, 0, 0, 0.20);
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 10;
  opacity:0;
  transition: opacity .3s ease-out;
}

#following-list {
  max-width: 100vw;
  max-height: 90vh;
  text-align: left;
  overflow-y: auto;
  top: 50%;
  /* from pop-up class */
  padding: 15px;
  position: fixed;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px;
  z-index: 11;
  min-width: 300px;
}

#loading-box {
  position: fixed;
  left: 50%;
  top: 45%;
  transform: translate(-50%,-50%);
  width: 180px;
  height: 180px;
  z-index: 15;
  opacity:0;
  transition: opacity .3s ease-out;
}

#loading-icon {
  z-index: 16;
  font-size: 120px;
  text-shadow: 0 0 70px white;
  animation-name: spin;
  animation-duration: 1900ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  padding-top: 15px;
}
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

quote {
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, .1);
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 4px;
  display: block;
  padding: 15px;
  font-style: italic;
}

innerNote {
  position: relative;
  display: block;
  border-radius: 4px;
  padding: 8px 24px;
  border-style: ridge;
  border-width: thin;
}

code {
  font-family: 'Consolas', Courier, monospace;
  box-shadow: inset 0px 0px 0px 20px rgba(0, 0, 0, .1);
  background-color: rgba(255, 255, 255, 0.2);
}

ascii {
  font-family: 'Consolas', Courier, monospace;
  border-radius: 4px;
  display: block;
  padding: 15px;
  border-style: groove;
  width: max-content;
  max-width: 100%;
  margin: auto;
  white-space: pre;
  overflow-x: auto;
  text-align: left;
}

secret {display: none;}

ul, ol {margin: 0}

b, i, u, s, quote, li, ul, ol, l, c, r, innerCut, p, cut, x, note, innerNote, spoil {font-family: inherit;}

l {text-align: left;}
c {text-align: center;}
r {text-align: right;}
l, c, r {display: block;}

r > ascii, r > img, r > a >img {margin-right: 0;}
l > ascii, l > img, l > a >img {margin-left: 0;}

.faded {opacity: .44; cursor: default}
.hidden {visibility: hidden;}
.removed {display: none;}
